<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.arkeine.smartgm" >

    <application
        android:name=".SmartGmApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".view.UniverseEditionActivity"
            android:label="@string/activity_universe_setting_main_title" />
        <activity
            android:name=".view.GameEditionActivity"
            android:label="@string/activity_game_setting_main_title" />
        <activity
            android:name=".view.DiceEditionActivity"
            android:label="@string/activity_dice_setting_main_title" />
        <activity
            android:name=".view.TableEditionActivity"
            android:label="@string/activity_table_setting_main_title" />
        <activity
            android:name=".view.WikiEditionActivity"
            android:label="@string/title_activity_wiki_edition" />
        <activity
            android:name=".view.EntityEditionActivity"
            android:label="@string/activity_entity_setting_main_title" />
        <activity android:name=".view.DescriptionActivity" />
        <activity android:name=".view.TimeLineEditionActivity" >
        </activity>
        <activity android:name=".view.WelcomeActivity" >
            <intent-filter>
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
