<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.arkeine.smartgm">

    <uses-sdk tools:overrideLibrary="info.android15.nucleus_support_v4, info.android15.nucleus_support_v7" />

    <application
        android:name=".SmartGmApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.editiondb.UniverseEditionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_universe_edition" />
        <activity
            android:name=".view.activity.editiondb.WikiEditionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_wiki_edition" />
        <activity
            android:name=".view.activity.editiondb.DiceEditionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_dice_edition" />
        <activity
            android:name=".view.activity.editiondb.GameEditionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_game_edition" />
        <activity android:name=".view.activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.HubActivity"
            android:label="@string/title_activity_hub"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.editiondb.EditionListActivity"
            android:label="@string/title_activity_edition_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.DescriptionDisplayActivity"
            android:label="@string/title_activity_description_display"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
